
.langue a {
	color:#95a5a6;
	text-decoration: none;
	font-size: 20px;
	padding-left: 20px;
	margin-top: 10px;
}
.fermer{
	 margin-top: -33px;
	 display: flex;
	 padding-left: 177.4px;
}
.pers a{
	color:#95a5a6;
	text-decoration: none;
	font-size: 20px;
	padding-left: 20px;
	margin-top: 10px;
}

.addpers a{
color:#95a5a6;
	text-decoration: none;
	font-size: 20px;
	padding-left: 20px;
	margin-top: 10px;	
}
.compte{
	margin-top: 1em;
}
.compte p{
color:#95a5a6;
	text-decoration: none;
	font-size: 17px;
	padding-left: 20px;	
}
.pers p{
	color: #95a5a6;
    text-decoration: none;
    font-size: 20px;
    padding-left: 86px;
    margin-top: -25px;
}

.addpers p{
color: #95a5a6;
    text-decoration: none;
    font-size: 20px;
    padding-left: 86px;
    margin-top: -25px;	
}
.pers:hover{
	background-color: #bdc3c7;
}
.addpers:hover{
	background-color: #bdc3c7;
}
.categorie p{
color:#95a5a6;
	text-decoration: none;
	font-size: 17px;
	padding-left: 20px;	
}
.s-cat p{
	margin-top: -29px;
    padding-left: 86px;
    font-size:20px ;
    color: #000;
}
.s-cat img{
	width: 36px;
	height: 36px;
	padding-left: 20px;
}
.lien p{
color:#95a5a6;
	text-decoration: none;
	font-size: 17px;
	padding-left: 20px;	
}
.lien.sl-md a{
color: #95a5a6;
    text-decoration: none;
    font-size: 20px;
    
    text-align: center;
    	
}
.lien a{
color: #95a5a6;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    	
}

.submenu{
	top: 42px;
	left: 0;
	width: 250px;
	background-color: #f5f5f5;
	margin-top: 5px;
	display:none;
}
	
	.mn:hover .submenu{
		display: block;
	}